body {
    background-color: #121212; /* Dark background */
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 300px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 50px;
}

.todo-header {
    margin-bottom: 20px;
}

.todo-form {
    display: flex;
    flex-direction: column;
}

.todo-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.todo-input:focus {
    outline: none;
    border: 2px solid #007bff;
}

.todo-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.todo-button:hover {
    background-color: #0056b3;
}

.todo-error {
    color: red;
    margin-top: 10px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-delete {
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
